@import "../../styles/base/_typography.css";
@import "../../styles/utilities/_variables.css";

.tofu-text {
  font-family: var(--font-stack-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji");
  font-size: var(--text-body-size-medium, 14px);
  font-weight: var(--text-body-weight, 400);
  line-height: var(--text-body-line-height-medium, 1.4285);
}

.tofu-text[data-size="small"] {
  font-size: var(--text-body-size-small, 12px);
  line-height: var(--text-body-line-height-small, 1.6666);
}

.tofu-text[data-size="medium"] {
  font-size: var(--text-body-size-medium, 14px);
  line-height: var(--text-body-line-height-medium, 1.4285);
}

.tofu-text[data-size="large"] {
  font-size: var(--text-body-size-large, 16px);
  line-height: var(--text-body-line-height-large, 1.5);
}

.tofu-text[data-weight="light"] {
  font-weight: var(--base-text-weight-light, 300);
}

.tofu-text[data-weight="normal"] {
  font-weight: var(--base-text-weight-normal, 400);
}

.tofu-text[data-weight="medium"] {
  font-weight: var(--base-text-weight-medium, 500);
}

.tofu-text[data-weight="semibold"] {
  font-weight: var(--base-text-weight-semibold, 600);
}

.tofu-text[data-weight="bold"] {
  font-weight: var(--base-text-weight-bold, 700);
}