@use "../../styles/utilities/variables" as *;

.btn-spinner {
  display: block;
  position: relative;
  opacity: var(--spinner-opacity, 0.65);
}

.btn-spinner-leaf {
  position: absolute;
  top: 0;
  left: calc(50% - 12.5% / 2);
  width: 12.5%;
  height: 100%;
  animation: btn-spinner-leaf-fade var(--spinner-animation-duration, #{$base-duration-800}) linear infinite;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 30%;
    border-radius: var(--radius-1, 4px);
    background-color: currentColor;
  }

  &:nth-child(1) { transform: rotate(0deg);   animation-delay: calc(-8 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(2) { transform: rotate(45deg);  animation-delay: calc(-7 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(3) { transform: rotate(90deg);  animation-delay: calc(-6 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(4) { transform: rotate(135deg); animation-delay: calc(-5 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(5) { transform: rotate(180deg); animation-delay: calc(-4 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(6) { transform: rotate(225deg); animation-delay: calc(-3 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(7) { transform: rotate(270deg); animation-delay: calc(-2 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
  &:nth-child(8) { transform: rotate(315deg); animation-delay: calc(-1 / 8 * var(--spinner-animation-duration, #{$base-duration-800})); }
}

@keyframes btn-spinner-leaf-fade {
  from { opacity: 1; }
  to { opacity: 0.25; }
}

.btn-spinner.btn-spinner-size-small  { width: calc(var(--btn-height, #{$control-small-size}) * 0.55);  height: calc(var(--btn-height, #{$control-small-size}) * 0.55); }
.btn-spinner.btn-spinner-size-medium { width: calc(var(--btn-height, #{$control-small-size}) * 0.60); height: calc(var(--btn-height, #{$control-small-size}) * 0.60); }
.btn-spinner.btn-spinner-size-large  { width: calc(var(--btn-height, #{$control-small-size}) * 0.65);  height: calc(var(--btn-height, #{$control-small-size}) * 0.65); }